.container {
  font-weight: 200;
  font-size: 10px;
  line-height: 1.1666;
  width: 300px;
  margin: 20px auto;
  background-color: #efefef;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 8px;
  padding: 5px;
  background: rgb(28, 155, 190);
  color: white;
  border: 1px solid rgb(209, 209, 209);
}
th:not(:first-child) {
  width: 30%;
}
td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
}
td:first-child {
  padding-left: 40px;
  text-align: left;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #e7e7e7;
}
